<br>
 <%= form_for([@post, @post.comments.build]) do |f| %>
	<%= f.label :name %><br>
	<%= f.text_field :name %><br>
	<% if !flash[:name].blank? %>
		<div class="notice"><%= flash[:name] %></div>
  	<% end %>
  	<% if alert %>
  	<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<br>
	<%= f.label :body %><br>
	<%= f.text_area :body %><br>
	<% if !flash[:body].blank? %>
		<div class="notice"><%= flash[:body] %></div>
  	<% end %>
  	<% if alert %>
  	<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<br>
	<%= f.attachment_field :image %>
	<% if !flash[:image].blank? %>
		<div class="notice"><%= flash[:image] %></div>
  	<% end %>
  	<% if alert %>
  	<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<br>
	<%= f.submit %>	
</div>
</div>
<% end %>
