<h4> Approve users </h4>
<div class="container">
	<div class="row justify-content-md-left">
		
		<div class="col col-md-3">Name</div>	
		<div class="col col-md-3">Email</div>				
	</div>
	
		<% @users_approve.each do |u| %>
			<% if session[:current_user_id]!= u.id %>
				<div class="row justify-content-md-left">
					
					<div class="col col-md-3"><%= u.first_name %>&nbsp;<%= u.last_name %></div>	
					<div class="col col-md-3"><%= u.email %></div>
					<% if u.is_approve==true %>
						<div class="col-4 col-md-3"><%= link_to("Dis-approve",  make_disapprove_user_path(:id =>u.id), method: :post) %></div>
					<% else %>
						<div class="col-4 col-md-3"><%= link_to("Approve",  make_approve_user_path(:id =>u.id), method: :post) %></div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<br>
</div>
<h4> Dis-approve users </h4>
<div class="container">
	<% @users_disapprove.each do |u| %>
		<% if session[:current_user_id]!= u.id %>
			<div class="row justify-content-md-left">
				
				<div class="col col-md-3"><%= u.first_name %>&nbsp;<%= u.last_name %></div>	
				<div class="col col-md-3"><%= u.email %></div>
				<% if u.is_approve==true %>
					<div class="col-4 col-md-3"><%= link_to("Dis-approve",  make_disapprove_user_path(:id =>u.id), method: :post) %></div>
				<% else %>
					<div class="col-4 col-md-3"><%= link_to("Approve",  make_approve_user_path(:id =>u.id), method: :post) %></div>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>
