<h2> All post </h2>
<div class="container">

	<%= search_form_for( @q, url: search_posts_path, html: { method: :post })do |f| %>
	<div class="row justify-content-md-left">
		
			<div class="col-md-1"><strong></strong></div>	
			<div class="col-md-2"><strong></strong></div>
			<div class="col-md-1"><strong></strong></div>
			<!-- <div class="col-md-1"><%#= f.collection_select :category_id_eq,Category.where(categories: {user_id: session[:current_user_id]},categories: {parent_id: nil}),:id,:name,include_blank: 'Select'%></div> -->

			<div class="col-md-1"></div> 

			<!-- <div class="col-md-1"><%#= f.collection_select :category_id_eq,Post.select("category_id,name").joins(:category),:category_id,:name,include_blank: 'Select'%></div> -->

			<!-- <div class="col-md-1"><%#= f.collection_select :category_id_eq,Category.select("name,category_id").joins(:posts).uniq,:category_id,:name,include_blank: 'Select'%></div> -->
			
			 <!-- <div class="col-md-1"><%#= f.collection_select :category_id_eq,Category.select("name,category_id").joins(:posts).uniq,:category_id,:name,include_blank: 'Select'%></div> -->
			<div class="col-md-2"><%= f.select :category_id_eq, @categories.map{|v|[v.name,v.id]}, include_blank: 'Select'%></div>
			<div class="col-md-2"><%=f.search_field :title_or_body_cont, :placeholder => 'title or body contains'%></div>
			<div class="col-md-2"><%=f.submit %></div>
					
	<% end %>
	</div>

	<div class="row justify-content-md-left">
		<% if @q.result.length != 0 %>
			<div class="col-md-1"><strong>Title</strong></div>	
			<div class="col-md-2"><strong>Body</strong></div>
			<div class="col-md-1"><strong>Image</strong></div>
			<div class="col-md-1"><strong>Category</strong></div>
			<div class="col-md-1"><strong>Sub-category</strong></div>			
			<div class="col-md-2"><strong>Post by </strong></div>
			<div class="col-md-2"><strong>Post at</strong></div>
			<div class="col-md-2"><strong>Action </strong></div>
		<% end %>
	</div>
	

	




	<div class="row justify-content-md-left"><br></div>
	<% @posts.each do |u| %>
		<% if u!= nil %>
			<% if u.publish %>
				<div class="row justify-content-md-left">
					
					<div class="col-md-1"><%= u.title %></div>	
					<div class="col-md-2"><%= u.body %></div>
						
					<div class="col-md-1"><%= image_tag attachment_url(u, :image, :fill, 50, 50, format: "jpg") %></div>
					<div class="col-md-1"><%= find_category_name(u) %></div>	
					<div class="col-md-1"><%= find_sub_category_name(u) %></div>	
					<div class="col-md-2"><%= u.user.email %></div>	
					
					<div class="col-md-2"><%= time_ago_in_words(u.created_at) %> ago</div>
					<div class="col-md-2"><%= link_to("Show", post_path(u.id)) %>&nbsp;<% if u.user_id == session[:current_user_id] %><%= link_to("Edit", edit_post_path(u.id)) %>&nbsp;<%= link_to("Delete",post_path(u.id),data: { confirm: "Are you sure?" }, method: :delete) %>
					<% end %><% if is_admin?(session[:current_user_id])  %> &nbsp; <%= link_to("Un-publish",posts_soft_publish_path(u.id), html_options = {method: :post}) %><% end %>
					</div>
				</div>
				<div class="row justify-content-md-left"><br></div>
			<% end %>
		<% end %>
	<% end %>
	<% if @q.result.length != 0 %><div><br><strong> Un-publish Posts</strong> </div><br> <% end %>
	<% @posts.each do |u| %>
		<% if u!= nil %>
		
			<%  if(!u.publish && (u.user_id == session[:current_user_id] || is_admin?(session[:current_user_id])))%>
			
				<div class="row justify-content-md-left">
					
					<div class="col-md-1"><strong><%= u.title %></strong></div>	
					<div class="col-md-2"><strong><%= u.body %></strong></div>
					<div class="col-md-1"><%= image_tag attachment_url(u, :image, :fill, 50, 50, format: "jpg") %></div>
					<div class="col-md-1"><%= find_category_name(u) %></div>	
					<div class="col-md-1"><%= find_sub_category_name(u) %></div>			
					<div class="col-md-2"><%= u.user.email %></div>	
					
					<div class="col-md-2"><%= time_ago_in_words(u.created_at) %> ago</div>
					<div class="col-md-2"><%= link_to("Show", post_path(u.id)) %><% if (u.user_id == session[:current_user_id]) %> &nbsp;<%= link_to("Edit", edit_post_path(u.id)) %>&nbsp;<%= link_to("Delete",post_path(u.id),data: { confirm: "Are you sure?" }, method: :delete) %><% end %><% if is_admin?(session[:current_user_id])  %>&nbsp;<%= link_to("Publish",posts_soft_unpublish_path(u.id), html_options = {method: :post}) %><% end %></div>
				</div>
			<% end %>
					
			
		<% end %>
	<% end %>



	<% if @q.result.length == 0 %> <div class="row justify-content-md-left">
		
			
					
			<div class="col-md-3"><strong> </strong></div>
			<div class="col-md-6"><h2>No data found!</h2></div>
			<div class="col-md-3"><strong> </strong></div>
		
	</div><% end %>	
	
		
</div>
