<div class="container">
	<div class="row justify-content-md-left">
		<div class="col-md-3">Title</div>
		<div class="col-md-9"><strong><%= @post.title %></strong></div>
	</div>

	<div class="row justify-content-md-left">
		<div class="col-md-3">Image</div>
		<div class="col-md-9"><%= image_tag attachment_url(@post, :image, :fill, 300, 300, format: "jpg") %></div>
	</div>

	<div class="row justify-content-md-left">
		<div class="col-md-3">Body</div>
		<div class="col-md-9"><%=@post.body %></div>
	</div>	

	<div class="row justify-content-md-left">
		<div class="col-md-3">Post Type</div>
		<div class="col-md-9"><% if @parent_category %><%= @parent_category.name %> -><% end %>  <% if @category %><%= @category.name %><% end %></div>
	</div>

	<div class="row justify-content-md-left">
		<div class="col-md-3">Post by</div>
		<div class="col-md-9"><%=@post.user.email %></div>
	</div>

	<div class="row justify-content-md-left">
		<div class="col-md-3">Post at</div>
		<div class="col-md-9"><%=time_ago_in_words(@post.created_at) %> ago</div>
	</div>

	<div>
		<h4><%= @post.comments.count %> Comments </h4>
		<%= render @post.comments %>
		<strong>Add a comment: </strong>
		<%= render "comments/form" %>
	</div>
	
</div>
