<%= link_to("<< Back to List", root_path) %>
<%= render_breadcrumbs %>
<div class="new user">
  <h2>Edit Category</h2>

  <%= form_for(@category, :url => {:action => 'update', :id => @category.id}) do |f| %>
 	<div><%=f.label(:name, "Category Name")%></div>
	<div><%= f.text_field(:name, placeholder: "Enter a category name") %></div>
	<div><%=f.label(:parent_id, "Select parent category")%></div>
	<% if @perent_categorys!= nil %> 
	<div><%= f.select(:parent_id,@perent_categorys.collect {|u| [u.name, u.id]},:prompt => 'Select One') %></div>	
	<% end %>
    <div class="form-buttons">
		<%= submit_tag("Update") %>
    </div>

  <% end %>
  <%= link_to("Go to menu", user_login_path) %>
</div>
