<%= link_to("<< Back to List", root_path) %>
<div class="new user">
  <h2>Create Category</h2>
  <%= form_for @category do |f| %>
 	<div><%=f.label(:name, "Category Name")%></div>
	<div><%= f.text_field(:name, placeholder: "Enter a category name") %></div>
	<div><%=f.label(:parent_id, "Select parent category")%></div>
	<% if @perent_categorys!= nil %> 
	<div><%= f.select(:parent_id,@perent_categorys.collect {|u| [u.name, u.id]},:prompt => 'Select One') %></div>	
	<% end %>
    <div class="form-buttons">
		<%= submit_tag("Save") %>
    </div>
  <% end %>  
</div>
