<%= link_to("<< Back to List", root_path) %>
<div class="new user">
	<h3>Category detail</h3>

	<div class="row justify-content-md-left">
		<div class="col-4 col-md-3">Category name: </div><div class="col-4 col-md-3"><%= @category.name%></div>
	</div>

	<div class="row justify-content-md-left">
		<div class="col-4 col-md-3">Category ID: </div><div class="col-4 col-md-3"><%= @category.id%></div>
	</div>
	<div class="row justify-content-md-left">
		<div class="col-4 col-md-3">Parent Category ? </div><div class="col-4 col-md-3"><%= @category.parent_id ? "No" : "Yes"%></div>
	</div>
	<div class="row justify-content-md-left">
		<div class="col-4 col-md-3">Subcategories : </div><div class="col-4 col-md-3"><% !@subcategories? "No subcategory" : @subcategories .each do |t|%>
			<li><%=t.name %></li>
			<% end %>  
		</div>
	</div> 
</div>
